@types/
README.md
src
tests
.eslintrc.json
.prettierrc
jest.config.js
.editorconfig
coverage
config
.git
.git/
.github/
.gitmodules
.settings/
.history/
.travis.yml
.circleci
.vscode/
package-lock.json
yarn.lock
CONTRIBUTING.md
.dockerignore
Dockerfile
.codeclimate.yml
cc-test-reporter
release.config.js
renovate.json
tsconfig.json
tsconfig.prod.json